body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 10px; /* 수정된 부분 */
    padding: 10px; /* 수정된 부분 */
    color: #333;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #f1f1f1;
    border-bottom: 5px solid #ddd;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu a {
    margin: 30px 30;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.user .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user a:not(:last-child) {
    margin-right: 10px;
    border-right: 0px solid #ccc;
}

.user a:hover {
    color: #007BFF;
}

.user .left .logo {
    margin-left: 10px;
    width: 100px;
    height: auto;
}

.user-options {
    background-color: white;
    padding: 100px 0;
    border-bottom: 1px solid #ddd;
}

.user-options .nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
}

.user-options .nav-item {
    list-style-type: none;
}

.user-options .nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-options .nav-link:hover {
    background-color: #ddd;
    color: #000;
}

.user-options .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

/* 추가한 스타일 */
.user-options .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-options .nav-link {
    display: block;
    text-align: center;
}

.right a {
    text-decoration: none;
    color: #333;
    padding: 10px 10px;
    border: 0px solid #333;
    border-radius: 5px;
    margin-right: 10px;
}

.nav-link.active {
    color: blue;
}

.right a:nth-child(2) {
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.dropdown-menu {
    display: none;
    margin-top: 0; /* 필요에 따라 margin을 조정할 수 있습니다 */
}

/* 드롭다운 메뉴를 포함하는 요소가 호버될 때 드롭다운 메뉴를 표시 */
.dropdown:hover .dropdown-menu {
    display: block;
}