     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Basic Styling */
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        header {
            background-color: #ffffff;
            color: #000000;
            padding: 10px 0;
            overflow: hidden;
        }

        .logo img{
                    width:200px;
                    height: auto;
                    cursor: pointer;
                    margin-left: 50px;
        }

        .search-bar {
            text-align: center;
            margin-top: 0px;
        }
        .search-bar input[type="text"] {
            padding: 8px;
            border: 2px solid #87ceeb;
            border-radius: 5px;
            width: 300px;
        }
        .search-bar button {
            padding: 8px 15px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .breadcrumb {
            list-style: none; /* 기본 점 스타일 제거 */
            padding: 0; /* 기본 패딩 제거 */
            margin: 0; /* 기본 마진 제거 */
            display: flex; /* 수평 정렬 */
            justify-content: flex-end; /* 우측 정렬 */
        }

        .breadcrumb-item::before,
        .breadcrumb-item::after {
            content: ""; /* 기본 / 문자 제거 */
        }

        .breadcrumb-item + .breadcrumb-item::before {
            display: none; /* 기본 구분자 숨기기 */
        }

        .breadcrumb-item + .breadcrumb-item {
            margin-left: 20px; /* 링크 간의 간격 추가 */
        }

        .breadcrumb-item a {
            color: black; /* 텍스트 색상 검은색으로 설정 */
            font-size: 1.2em; /* 글씨 크기 조정 (필요에 따라 크기 조정) */
            text-decoration: none; /* 밑줄 제거 (필요에 따라) */
        }

        .breadcrumb-item a:hover {
            text-decoration: underline; /* 호버 시 밑줄 추가 (선택 사항) */
        }
        .menu-bar {
            background-color: #ffffff;
            overflow: hidden;
            text-align: center;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            white-space: nowrap;
        }
        .menu-bar a {
            display: inline-block;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            width: calc(100% / 3);
            background-color: #ffffff;
        }
        .menu-bar a:hover {
            background-color: #87ceeb;
            color: white;
        }
        .menu-bar a.active {
            background-color: #87ceeb;
            color: white;
        }
        .Mall {
            color: #000000;
            font-size: 20px;
            text-align: left;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .hot-tip {
                    color: #000000;
                    font-size: 20px;
                    text-align: left;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
         footer {
                    border-top: 2px solid #cccccc; /* 회색 경계선 */
                    background-color: #ffffff; /* 흰색 배경 */
                    padding: 50px 0;
                    text-align: left;
                }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
        }
        .arrow.left {
            left: 0;
        }
        .arrow.right {
            right: 0;
        }