     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Basic Styling */
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        header {
            background-color: #ffffff;
            color: #000000;
            padding: 10px 0;
            overflow: hidden;
        }

        .logo img{

            width:150px;
            height: auto;
            cursor: pointer;
        }

        .search-bar {
            text-align: center;
            margin-top: 0px;
        }
        .search-bar input[type="text"] {
            padding: 8px;
            border: 2px solid #87ceeb;
            border-radius: 5px;
            width: 300px;
        }
        .search-bar button {
            padding: 8px 15px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .user-options {
            position: absolute;
            top: 50px;
            right: 50px;
        }
        .user-options a {
            color: #000000;
            text-decoration: none;
            margin-left: 10px;
        }
        .menu-bar {
            background-color: #ffffff;
            overflow: hidden;
            text-align: center;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            white-space: nowrap;
        }
        .menu-bar a {
            display: inline-block;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            width: calc(100% / 3);
            background-color: #ffffff;
        }
        .menu-bar a:hover {
            background-color: #87ceeb;
            color: white;
        }
        .menu-bar a.active {
            background-color: #87ceeb;
            color: white;
        }
        .Mall {
            color: #000000;
            font-size: 20px;
            text-align: left;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .hot-tip {
                    color: #000000;
                    font-size: 20px;
                    text-align: left;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
         footer {
                    border-top: 2px solid #cccccc; /* 회색 경계선 */
                    background-color: #ffffff; /* 흰색 배경 */
                    padding: 50px 0;
                    text-align: left;
                }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
        }
        .arrow.left {
            left: 0;
        }
        .arrow.right {
            right: 0;
        }