body{
    display: flex;
    justify-content: center;
        align-items: center;
        height: 100vh; /* 화면 높이의 100%만큼 설정하여 화면 가운데에 내용을 배치합니다. */
        margin: 0; /* body 요소의 기본 마진을 제거합니다. */
        background-color: #f0f0f0;
}
.logo img{
            width:300px;
            height: auto;
            cursor: pointer;
        }
.btn a {
    color: white;
}
